.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.App-footer {
  display: flex;
  padding: 2em 1em;
  justify-content: space-around;
  font-size: 1em;
  background-color: #e0e9fa;
}

.App-link {
  color: #282c34;
}
